.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
shared.webpack.config.js
client/**
!client/out/extension.js
server/**
!server/out/server.js
!server/out/index_bg.wasm

node_modules/**
