name: Compilation check

on:
  workflow_call:

jobs:
  compilation-check:
    strategy:
      matrix:
        rust_toolchain: [stable]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Compilation check
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Install Rust
        run: |
          rustup update
          rustup install ${{ matrix.rust_toolchain }}

      - name: Check compilation with default features
        run: |
          cargo +${{ matrix.rust_toolchain }} check --all --bins --examples --tests

      - name: Check compilation with no features
        run: |
          cargo +${{ matrix.rust_toolchain }} check --all --bins --examples --tests --no-default-features
