on:
  workflow_dispatch:
  push:
    tags-ignore:
      - '*'
    paths:
      - '.github/workflows/lsp-extension.yml'
      - 'cddl-lsp/**'
      - 'src/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
  pull_request:
    paths:
      - '.github/workflows/lsp-extension.yml'
      - 'cddl-lsp/**'
      - 'src/**'
      - 'Cargo.toml'
      - 'Cargo.lock'

name: Build and Test LSP Extension
permissions:
  contents: read
  pull-requests: write

jobs:
  build-and-test:
    name: build and test LSP extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Install Rust
        run: |
          rustup update
          rustup target add wasm32-unknown-unknown

      - name: Install wasmpack
        run: |
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Install Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with:
          node-version: '20'

      - name: Install dependencies
        working-directory: ./cddl-lsp
        run: |
          npm install
          npm run webpack

      - name: Run unit tests and integration tests
        uses: GabrielBB/xvfb-action@v1.5
        with:
          working-directory: ./cddl-lsp
          run: npm test
